/* место для вашего кода */
.header {
  height: 293px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__logo {
  display: block;
  min-width: 136px;
  padding-top: 9px;
}

.header__links-list {
  display: flex;
  justify-content: flex-start;
  column-gap: 33px;
  font-size: 18px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  max-width: 240px;
  align-self: center;
}

.header__address {
  font-size: 18px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  font-style: normal;
  align-items: flex-start;
}

.main {
  margin-top: 8px;
}

.cover {
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 30px;
  z-index: 2;
}

.aligned-text {
  display: grid;
  padding: 165px 50px 0px;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 20px;
  align-items: center;
}

.aligned-text_center {
  justify-self: center;
}

.aligned-text_right {
  justify-self: end;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.description {
    display: flex;
    padding: 120px 50px 50px;
    justify-content: space-between;
}

.cover__description {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-weight: normal;
  font-size: 22px;  
  z-index: 2;
}

.cover__description-text {
    word-spacing: 22px;
}