/* стили для блока header */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 290px;
  padding: 85px 50px 96px;
}

.header__logo {
  display: block;
  min-width: 136px;
  padding-top: 9px;
}

.header__links-list {
  display: flex;
  justify-content: flex-start;
  column-gap: 33px;
  font-size: 18px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-self: center;
  max-width: 240px;
}

.header__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

/* стили для блока main */

.main {
  margin-top: 2px;
}

/* стили для секции cover */

.cover {
  position: relative;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  z-index: 2;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  z-index: 2;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  row-gap: 20px;
  padding: 165px 50px 0px;
}

.aligned-text_left {
  z-index: 2;
  justify-self: left;
}

.aligned-text_center {
  z-index: 2;
  justify-self: center;
}

.aligned-text_right {
  z-index: 2;
  justify-self: end;
}

.no-letter-spacing {
  z-index: 2;
  letter-spacing: normal;
}

.description {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 105px 50px 50px; */
  padding: 107px 50px 48px;
}

.cover__description-text {
  z-index: 2;
}
.cover__description {
  z-index: 2;
  color: rgb(255, 255, 255);
  font-size: 22px;
  text-transform: uppercase;
}

.space-short {
  word-spacing: 0.7em;
}

.space-medium {
  word-spacing: 0.8em;
}

.space-large {
  word-spacing: 0.9em;
}

.bet-button {
  z-index: 2;
  align-items: flex-start;
  border: 1px solid rgb(255, 255, 255);
  padding: 12px 31px;
  color: rgb(255, 255, 255);
  background: transparent;
}

/* стили для секции lots */

.lots {
  margin-top: 182px;
}

.lots__heading {
  padding-left: 65px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 25px 24px;
  list-style: none;
}

.lots__card-list-item {
  flex-grow: 1;
  flex-basis: 334px;
  height: 596px;
}

.card {
  position: relative;
  display: grid;
  flex-direction: column;
  align-content: space-between;
  height: 100%;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-position: center;
  background-size: cover;
}

.card__title {
  position: relative;
  z-index: 2;
  padding: 48px 40px 0;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 22px;
  line-height: 1.2em;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 2;
  padding: 0 40px 48px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 1.2em;
}

.lots__look-more-link {
  display: block;
  padding: 5px 0 155px 64px;
  font-size: 20px;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
  text-transform: lowercase;
}

/* стили для секции about */

.about__grid-container {
  display: grid;
  grid-template-columns: 384px 1fr;
  align-items: start;
}

.about__logo_column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
}

.logo-white {
  width: 148px;
  height: 114px;
}

.about__title {
  padding-top: 100px;
  padding-bottom: 100px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 690px;
  font-size: 20px;
  line-height: 24px;
}

/* стили для блока footer */

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  padding-top: 181px;
}

.address-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 51px;
}

.menu-footer {
  display: flex;
  justify-content: center;
  padding-top: 1px;
  text-align: center;
}

.footer__social-list {
  display: flex;
  justify-content: space-evenly;
  padding-left: 30px;
}

.footer__menu-list,
.footer__social-list {
  list-style: none;
}

.footer__link_active,
.footer__menu-link_active {
  text-decoration: none;
}

.footer__link {
  font-size: 18px;
  line-height: 24.3px;
  text-underline-offset: 4px;
}

.footer__menu-link {
  font-size: 18px;
  text-underline-offset: 4px;
}

.footer__social-icon {
  width: 48px;
}
