/* место для вашего кода */
.header {
  height: 293px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__logo {
  display: block;
  min-width: 136px;
  padding-top: 9px;
}

.header__links-list {
  display: flex;
  justify-content: flex-start;
  column-gap: 33px;
  font-size: 18px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  max-width: 240px;
  align-self: center;
}

.header__address {
  font-size: 18px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  font-style: normal;
  align-items: flex-start;
}

.main {
  margin-top: 8px;
}

.cover {
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 30px;
  z-index: 2;
}

.aligned-text {
  display: grid;
  padding: 165px 50px 0px;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 20px;
  align-items: center;
  z-index: 2;
}

.aligned-text_left {
  justify-self: left;
  z-index: 2;
}

.aligned-text_center {
  justify-self: center;
  z-index: 2;
}

.aligned-text_right {
  justify-self: end;
  z-index: 2;
}

.no-letter-spacing {
  letter-spacing: normal;
  z-index: 2;
}

.description {
  display: flex;
  padding: 105px 50px 50px;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.cover__description-text {
  z-index: 2;
}
.cover__description {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 22px;
  z-index: 2;
}

.space-short {
  word-spacing: 0.7em;
}

.space-medium {
  word-spacing: 0.8em;
}

.space-large {
  word-spacing: 0.9em;
}

.bet-button {
  background: transparent;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  padding: 12px 31px;
  align-items: flex-start;
  z-index: 2;
}

.lots {
  margin-top: 180px;
}

.lots__heading {
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  padding-left: 65px;
}

.lots__card-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
  flex-wrap: wrap;
  padding: 25px 24px;
}

.lots__card-list-item {
  /* display: flex;   
  flex-direction: column;
  justify-content: space-between;  */
  /*width: 334px;*/
  height: 596px;
  flex-basis: 334px;
  flex-grow: 1;
}
/*
.card-link {
  height: 100%;
  position: relative;
}
*/
/*.card {  
  height: 100%;
  position: relative;  
  display: grid;
}*/

.card {
  height: 100%;
  position: relative;
  display: grid;
  flex-direction: column;
  align-content: space-between;
  /*width: 334px;*/
  /*height: 596px;  */
  /*flex-basis: 334px;
  flex-grow: 1;    */
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  /*display: grid;*/
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  /*display: grid;*/
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  /*display: grid;*/
}

.card__title {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2em;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 4px;
  z-index: 2;
  padding: 48px 40px 0;
}

.card__text {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 1.2em;
  z-index: 2;
  padding: 0 40px 48px;
}

.lots__look-more-link {
  font-size: 20px;
  text-transform: lowercase;
  padding-left: 64px;
  padding-top: 5px;
  display: block;
  text-underline-offset: 4px;
}
